*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(247, 246, 246);
    background-image: url(imagenes/photocam-fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Desde aquí el header (logo + menu) */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    background-color: #ececec;
    background-color: black;
    
}

.logo {
    max-width: 10rem;
    max-width: 8rem;
}

.transformed {
    transform: rotate(90deg);    
}
.menu-icon-color{
    color: red;
    color:#AB7735;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    color: red;
    color:#AB7735;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


/*responsive del burger menu del header*/

@media screen and (max-width: 550px) {
    .logo{
        max-width: 6rem;    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }
    #cerrar{
        color: red;
        color:#AB7735;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}

/* desde aquí sigue el slider | carusel */ 
.titulo-principal{
    text-align: center;
    font-size: 35px;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-top: 30px;
    color: white;
    color:#AB7735;
    

}
.slider-box{
    width: 1280px;
    width: 1000px;
    height: auto;
    margin: 30px auto 0;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    /* position: relative;     */
}
.slider-box img{
    width: 100%;
}

@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*responsive del carusel */
@media(max-width:991px){

    body{
        padding: 10px;
    }
    
    .slider-box {
        width: 99%;
    }
    .titulo-principal{
        font-size: 20px;
    }
}



